/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body {
  margin: 0 auto;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// .mat-form-field {
//   width: 100%;
//   min-width: 300px;
// }

// mat-card-title,
// mat-card-content {
//   display: flex;
//   justify-content: center;
// }

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
